{% extends 'core/base-signup.html' %}
{% load static %}

{% block meta_description %}Регистрация Продавца на сайте службы доставки компьютерной техники.{% endblock %}
{% block title %}Регистрация Продавца{% endblock %}

{% block signup_description %}
    <p>Мы поможем продавать товары со своего склада легко<br> и быстро. Начните уже сейчас.</p>
{% endblock %}
{% block fields_signup %}
    {% for field in form %}
        {#            TODO Переопределить виджет#}
        {% if field.field.widget.input_type != 'checkbox' and field.name != 'captcha' %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
		{% elif  field.name == 'captcha' %}
			<label for="{{ field.id_for_label }}">{{ captcha_label }}</label>
			<div class="captcha_fields">
                {{ field }}
			</div>
			{{ field.errors }}
        {% else %}
            <div class="checkbox">
                {{ field }}
                <label for="{{ field.id_for_label }}">Cоглашаюсь с <a href="farmer/terms_and_conditions_farmer.pdf"
                                                                      download>Условиями использования</a>
                </label>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
{#{% if messages %}#}
{#    <ul class="messages">#}
{#        {% for message in messages %}#}
{#            <li {% if message.tags %} class="{{ message.tags }} " {% endif %}>#}
{#                {{ message }}#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}
