{% load static %}

<div class="productContainer">
	{% for product in page.object_list %}
	<div class="vegFrame">
		<div class="vegFrameHeader">
			<input type="checkbox">
			<div class="vegFrameMenu">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="vegFrameDropMenu">
				<ul>
					<li class="edit"><i class="fas fa-pencil-alt"></i>&nbsp;Редактировать</li>
					<li class="delete"><i class="far fa-trash-alt"></i>&nbsp;Удалить</li>
				</ul>
			</div>
		</div>
		<img {% if product.name.image %}
			src="//localhost:8055/media/{{ product.name.image }}"
			{% else %}
			src="{% static 'farmer/img/20695.png' %}" alt="">
			{% endif %}
		<h3>{{ product.name }}</h3>
		<div class="vegFrameOptions">
			<div class="harvested">
				<p>Собрано</p>
				<div>{{ product.weight }}</div>
			</div>
			<div class="ordered">
				<p>Заказано</p>
				<div>??? кг</div>
			</div>
			<div class="price">
				<p>Цена</p>
				<div><span>&#8593; </span>{{ product.price }}</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
