{% extends 'core/base-welcome.html' %}
{% load static %}

{% block title %}Заполнение данных фермера{% endblock %}

{% block img_upload %}
    <label for="{{ form.photo.id_for_label }}">
        <div class="addPhoto">
			{{ form.photo}}+
        </div>
    </label>
{% endblock %}
{% block form %}
    {{ user.get_email }}
        {% for field in form %}
            {% if field.field.widget.input_type != 'select' and field.field.widget.input_type != "file" %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% elif field.field.widget.input_type == 'select'%}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% endif %}
        {% endfor %}
{% endblock %}