{% extends "farmer/app-base.html" %}

{% load static %}

{% block title %}Мои товары{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'farmer/css/myProducts.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/pagination.css' %}">
{% endblock %}

{% block page_content %}

    <div class="myProducts">
        <h1>Мои товары</h1>
        <button class="addProduct"><span>+</span> Добавить товар</button>
    </div>

    {% include 'farmer/blocks/foodstuffs/product-table.html' %}

    {% if product_list %}
        {% include 'core/blocks/pagination.html' %}
    {% endif %}

{% endblock %}

{% block page_modals %}
    {% include 'farmer/popups/product-form.html' %}
{% endblock %}

{% block page_footer_scripts %}
    <script src="{% static 'farmer/js/myProducts.js' %}"></script>
{% endblock %}