/venv/
/.idea/
.env
__pycache__
core/__pycache__/
/static
farmers/__pycache__/
farmers/migrations/__pycache__/
farmers/views/__pycache__/
core/migrations/__pycache__/
core/views/__pycache__/
/media
git