{% extends 'core/base-with-left-image.html' %}

{% block meta_description %}Страница восстановления пароля на сайте VegPool.{% endblock %}
{% block title %}Восстановление пароля{% endblock %}

{% block general_content %}
    <h1>Страница восстановления пароля</h1>
    <form action="" method="post">
        {% csrf_token %}
        <h1>{{ title }}</h1>
            {% if validlink %}
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
            {% endif %}
        <button type="submit">Готово</button>
    </form>
{% endblock %}