{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <div class="mt-4 card bg-success shadow">
                    <div class="card-header">
                        <h4>Восстановление пароля в разработке</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-white">
                            В скором времени мы добавим возможность пользователя восстанавливать пароль
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="small my-2" href="{% url 'login' %}">Вернуться на страницу входа</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}