{% extends 'core/base.html' %}
{% load static %}

{% block meta_description %}Главная страница сайта службы доставки компьютерной техники.{% endblock %}
{% block title %}Главная{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/css/styleLanding.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="general">

        <a href="{{ telegram_link }}" class="telegram">
            <i class="fab fa-telegram fa-2x" aria-hidden="true"></i>
        </a>
        <h1>Сайт компьютерной техники</h1>
        <a class="logo"><img src="{% static "core/img/logo.png" %}" alt="logo"></a>
        <div class="buttons">
            <a href="{% url 'login' %}">
                <button>Войти</button>
            </a>
            <a href="{% url 'buyer:signup' %}">
                <button>Стать покупателем</button>
            </a>
            <a href="{{ telegram_link }}">
                <button>Telegram чат</button>
            </a>
        </div>
        <div class="content">
            <div class="accordion"><h2>Куда я попал?</h2></div>
            <p class="panel">Привет! Вы попали на тестовую версию приложения для заказа и доставки компьютерной техники.
                Чтобы начать заказывать/покупать товары - <a href="{% url 'buyer:signup' %}" class="contentLink">Зарегистрируйтесь</a>
                Чтобы получать новости о доставках, новых продуктах, подпишитесь на наш <a
                        href="{{ telegram_link }}" class="contentLink">Telegram</a>.</p>
            <div class="accordion"><h2>Кто мы?</h2></div>
            <p class="panel">Мы - ваши коллеги из “одной известной IT-компании” ) Мы очень компьютерную технику и
                хотим, чтобы товар был гарантированно качественным,
                но часто не знаем какой товар нам нужен по соотношению цена/качество. </p>
            <div class="accordion"><h2>Что здесь есть?</h2></div>
            <p class="panel">Здесь вы найдете готовые ПК, клавиатуры, мышки и наушники от местных производителей.
               </p>
            <div class="accordion"><h2>Как это работает?</h2></div>
            <p class="panel">Мы руководствуемся принципами <a
                    rel="nofollow"
                    href="https://food.ec.europa.eu/horizontal-topics/farm-fork-strategy_en"
                    class="contentLink">Farm-to-Folk</a>
                - это социальное движение,
                которое способствует подкупке компьютерной техники потребителям,
                путем прямого приобретения у производителя. Организациии регистрируются на сайте и предлагают свою продукцию
                по своим ценам.
                Это могут быть как крупные профессиональные производители, так и просто мелкие производители, у которых есть
                качественный каталог товаров.
                Мы собираем ваши заявки на ближайшие доставки, делаем заказ фермерам на поставку, забираем продукты,
                фасуем их и доставляем вам.
                Вы сами выбираете продавцов и их товар, который хотите приобрести, а мы организуем процесс так, чтобы
                покупка стала для
                вас легкой, приятной и регулярной без траты времени на походы в магазин.
            </p>
            <div class="accordion"><h2>Это доставка?</h2></div>
            <p class="panel">Да, именно! Каждую неделю мы организуем доставки по всему району.
                Мы не складируем и не храним товары.
                Мы упаковываем и доставляем их вам в тот же/на следующий день после их сбора</p>
        </div>
    </div>
    <footer>
        <a class="footerLogo"><img src="{% static "core/img/logo.png" %}" alt="logo"></a>
        <div class="fotterContent">
            <a href="{{ telegram_link }}"><i class="fab fa-telegram" aria-hidden="true"></i>Telegram чат</a>
            <a href="{% url 'buyer:signup' %}"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Стать покупателем</a>
            <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i>Войти</a>
        </div>
    </footer>
{% endblock %}
