{% extends 'core/base-with-left-image.html' %}
{% load static %}

{% block meta_description %}Главная страница сайта службы доставки фермерской зелени VegPool.{% endblock %}
{% block title %}Главная{% endblock %}

{% block top_logo %}{% endblock %}

{% block general_content %}
    <div class="logoHeader">
        <span class="logo">
            <img src="{% static 'core/img/logo_grey.png' %}" alt="{% include 'core/blocks/logo_alt.html' %}">
            <span>VegPool</span>
        </span>

        <a href="{% url 'farmer:signup' %}">Стать Фермером</a>
        <a href="{% url 'buyer:signup' %}">Стать Покупателем</a>
        <span><a href="https://t.me/joinchat/Bc_KkxNGDtfbQsgzp891gA" target="_blank">Мы в телеграмме</a></span>
        {% if request.user.is_authenticated %}
            <a class="privatCab" href="{% url 'logout' %}">
                <i class="fas fa-user"></i>
                <span>Выйти</span>
            </a>
        {% else %}
            <a class="privatCab" href="{% url 'login' %}">
                <i class="fas fa-user"></i>
                <span>Войти</span>
            </a>
        {% endif %}
    </div>

    <p class="lead">
        Вы попали на тестовую версию приложения для заказа и доставки зелени и овощей VegPool. Наш сервис еще
        совсем юный и только разрабатывается. Мы будем рады всем вашим комментариям и советам.
    </p>

    <p>Чтобы получать новости о доставках, новых продуктах, подпишитесь на наш <a
            href="https://t.me/joinchat/Bc_KkxNGDtfbQsgzp891gA" target="_blank">телеграм-канал.</a></p>

    <h1>Что такое VegPool?</h1>
    <p>
        Мы очень любим зелень и хотим, чтобы она была каждый день на нашем столе. К сожалению, мы часто работаем
        допоздна
        и не всегда можем найти время для похода на рынок за фермерскими продуктами. Поэтому мы решили создать сервис,
        который доставит самую свежую, качественную и экологически чистую зелень и овощи прямо от фермеров к нам
        домой.<br>
        Вы покупаете так, как вам удобно, а фермеры знают сколько и когда им вырастить продукции специально для нас!<br>
        Здесь фермеры, которые выращивают зелень и овощи, предлагают свои товары а покупатели заказывают их с доставкой
        на дом. Заказывая зелень и овощи напрямую у фермеров мы поддерживаем их хозяйства и позволяем расти, развиваться
        и выращивать еще больше продукции для нас.<br>
        Каждую неделю мы организуем доставки по всему Минску и его окрестностям. Мы не складируем и не храним овощи, мы
        упаковываем и доставляем их вам на следующий день после их сбора.
    </p>

    <h2>Наши продукты</h2>
    <p>
        Мы специализируемся на зелени, салатах, самых разных видах капусты, овощах, ягодах местных производителей. Еще
        мы предлагаем мед, сухофрукты и сладости сделанные вручную.
    </p>

    <h2>Как это работает?</h2>
    <p>
        Мы руководствуемся принципами <a rel="nofollow"
                                         href="https://ec.europa.eu/food/horizontal-topics/farm-fork-strategy_en">Farm-to-Folk</a>
        - это социальное движение, которое способствует подаче местной еды
        потребителям, путем прямого приобретения у производителя.
        Фермеры регистрируются на сайте и предлагают свою продукцию по своим ценам. Это могут быть как крупные
        профессиональные производители и фермы, так и просто дачники, у которых есть излишки урожая.
        Мы собираем ваши заявки на ближайшие доставки, делаем заказ фермерам на поставку, забираем продукты, фасуем их и
        доставляем вам.
        Вы сами выбираете фермеров и продукцию, которую хотите приобрести, а мы организуем процесс так, чтобы покупка
        зелени стала для вас легкой, приятной и регулярной без траты времени на походы в магазин или рынок.
    </p>

    <h2>Доставка</h2>
    <p>
        Доставка осуществляется 1-2 раза в неделю. Стоимость доставки до дома составляет 4 рубля. До офиса EPAM –
        бесплатно.
    </p>

    <p><a href="{% url 'farmer:signup' %}">Регистрация в роли Фермера</a></p>
    <p><a href="{% url 'buyer:signup' %}">Регистрация в роли Покупателя</a></p>
{% endblock %}