{% extends 'core/base-with-left-image.html' %}

{% block meta_description %}
    Страница входа на сайт для предоставления сервиса по доставке фермерских продуктов.
{% endblock %}

{% block title %}Войти{% endblock %}

{% block general_content %}
    <p>Версия:{{ version }}</p>
    <h1>Авторизация в VegPool.</h1>
    <p>Введите адрес электронной почты и пароль, чтобы войти.</p>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
			{% if field.name != 'captcha' %}
				<label for="{{ field.id_for_label }}">{{ field.label }}</label>
				{{ field }}
			{% else %}
				<label for="{{ field.id_for_label }}">{{ captcha_label }}</label>
				<div class="captcha_fields">
                {{ field }}
			</div>
				{{ field.errors }}
			{% endif %}
        {% endfor %}
        <button type="submit">Войти</button>
        <span class="haveAccount">Забыли пароль? <a href="{% url 'forgot_password' %}">Восстановить</a></span>
        <div class="noAccount">
            Нет аккаунта?
            <ul>
                <li><a href="{% url 'farmer:signup' %}">Регистрация фермером</a></li>
                <li><a href="{% url 'buyer:signup' %}">Регистрация покупателем</a></li>
            </ul>
        </div>
    </form>

{% endblock %}

