<div aria-live="polite" aria-atomic="true" class="bg-dark position-relative" style="z-index: 2">
    <div class="toast-container position-absolute p-3" id="toastPlacement">
        <div id="jprofile-toast-updated" class="toast bg-success">
            <div class="toast-header">
                <strong class="me-auto">Профиль</strong>
                <small>только что</small>
            </div>
            <div class="toast-body text-white">
                Ваш профиль успешно обновлен!
            </div>
        </div>
    </div>
</div>