@font-face {
    font-family: "SF UI Text";
    src: url(../../core/fonts/sf-ui-text-regular.ttf);
}

@font-face {
    font-family: "SF Compact Text";
    src: url(../../core/fonts/FontsFree-Net-SFCompactText-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "SF UI Text", sans-serif;
    color: #121F2D;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

button {
    height: 40px;
    cursor: pointer;
    padding: 10px;
    line-height: 20px !important;
    margin-bottom: 10px !important;
    border-radius: 4px !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 100%;
    outline: 0;
    cursor: pointer;
}

input {
    padding-left: 10px;
}

input, select {
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #BEC3CA;
    font-size: 14px;
    padding: 5px;
    height: 40px;


}

label {
    display: block;
    margin: 0 10px 3px 0;
    font-size: 14px;
    font-family: "SF Compact Text";
    color: #676D76;
    margin-bottom: 0 !important;
}

h1 {
    font-size: 24px !important;
    margin-right: 20px;
    font-weight: bold !important;
}

h2 {
    font-size: 22px;
}

.generalWrap {
    background-color: #E5E5E5;
    flex: 1 0 auto;
    position: relative;
}

.mainWrap {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    min-height: 100%;
}


.mainMenu {
    width: 242px;
    transition: width .3s;
    background-color: #2E3C54;
    padding-top: 14px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 5;
    overflow: hidden;
}

.mainMenu * {
    color: #fff;
}

.mainMenu i {
    display: inline;
}

.mainMenu #exit {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.showMenu {
    display: none;
}

.showMenu:hover {
    color: #fff;
    font-weight: bold;
}

.countOrderedProduct {
    position: absolute;
    top: 18px;
    left: 30px;
    min-width: 14px;
    letter-spacing: 0px;
    color: #fff;
    border-radius: 50%;
    background-color: #0D7A8D;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}

.logo {
    width: 145px;
    display: block;
    font-family: "SF UI Text";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.logo img {
    padding-right: 10px;
}

.sectionsMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sectionsMenu span {
    font-family: SF UI Text;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin-left: 20px;
}

.hideMenu {
    margin-right: 20px;
}

.hideMenu:hover {
    color: #fff;
    font-weight: bold;
}

.activeMenuElement {
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: bold;
}

.mainMenu nav {
    display: flex;
    flex-direction: column;

}

.mainMenu nav a {
    padding: 10px 10px 10px 20px;
    position: relative;
}

.mainMenu nav a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.mainMenu nav a span {
    margin-left: 10px;
    white-space: nowrap;
}


.headerWrap {
    max-width: 1366px;
    margin: 0 auto;
    z-index: 4;
    position: fixed;
    left: 0;
    right: 0;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #fff;
    height: 60px;
    padding: 0 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 2px 7px rgba(38, 43, 46, 0.08);
}

.headerOptions {
    display: flex;
    align-items: center;
}

.headerOptions i.fa-bell {
    font-size: 20px;
}

#langSwitch {
    border: 0 none;
    font-size: 14px;
}

.basket {
    display: flex;
    margin: 0 20px 0 20px;
}

.basket i {
    font-size: 20px;
    color: #0D7A8D;
    margin-right: 5px;
}

.basket p {
    margin-bottom: 0 !important;
}

.burgerAndBasket {
    padding-left: 220px;
    display: flex;
    transition: padding .3s;
}

.burgerAndBasketPadding {
    padding-left: 40px;
    transition: padding .3s;
}

.selectWrapper {
    position: relative;
    width: 474px;
}

.selectWrapper.selectWrapperLang {
    width: 80px;
}

.selectWrapper.productOptionsSelectWrapper {
    width: 140px;
}

.selectWrapper.showPageCountSelectWrapper {
    width: 150px;
}

.selectWrapper.showPageCountSelectWrapper::before {
    top: 12px;
}

.selectWrapper.sortSelectWrapper {
    width: 150px;
}

.selectWrapper.sortSelectWrapper::before {
    top: 12px;
}

.selectWrapper::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 15px;
    width: 13px;
    height: 10px;
    right: 10px;
    background: url("../img/corner.png") no-repeat right center;
}

span.name {
    font-size: 14px;
}

.profilePhotoForm {
    /* float: left; */
    margin-bottom: 20px;
    /* position: relative; */
}

.photoWrap {
    position: relative;
    display: flex;
}

.profilePhotoForm img {
    border-radius: 50%;
}

#profileName {
    margin-bottom: 20px;
}

#profilePhone {
    margin-bottom: 45px;
}

#profileName, #profilePhone {
    width: 282px;
}

#location, #serviceZone, #farmName, #addZone {
    width: 100%;
    margin-bottom: 20px;
}

.profilePhoto img {
    display: block;
    border-radius: 50%;
    margin-left: 10px;
}

.changePhoto {
    width: 32px;
    height: 32px;
    background-color: #4D9774;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    position: absolute;
    bottom: 20px;
    left: 120px;
    cursor: pointer;
}

.profileHeader {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
}

.profileHeader span.name {
    font-size: 14px;
}

.header i.fa-bell {
    color: #BEC3CA;
}

#notifications {
    display: flex;
    margin-right: 5px;
}

.mainContentWrap {
    background-color: #F4F4EF;
    width: 100%;
    padding-left: 242px;
    transition: padding .3s;
}

.maincontentWrapPadding {
    padding-left: 60px;
    transition: padding 0.3s
}

.mainContent {
    padding: 80px 20px 100px 20px;
}

.mainContent h2 {
    text-align: center;
}

.mainContent p {
    text-align: center;
}

.myProducts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.addProduct {
    background-color: #60B072;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.addProduct:hover {
    background-color: #0D7A8D;
}

.addProduct span {
    font-size: 20px;
    padding-right: 5px;
    color: #fff;
}

.displayingItems {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

.displayingItems > div {
    display: flex;
    margin: 0 10px 10px 0;
}

.pageSettings {
    align-items: center;
    flex-wrap: wrap;
}

.pageSettings span {
    font-size: 14px;
    color: #4C5C6F;
}

.pageSettings select {
    margin-bottom: 0;
}

.onPage {
    margin-right: 40px;
}

.jproductcategory-filter-select {
    background-color: #fff;
    font-size: 14px;
    height: 32px;
}

.sort {
    align-items: center;
}

.sort label {
    margin-right: 10px;
}

#showPageCount {
    height: 32px;
    border-radius: 3px;
    font-size: 14px;
}

.pageSwitch a {
    color: #4C5C6F;
}

.tileDisplaying {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #BEC3CA;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
}

.listDisplaying {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #BEC3CA;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2px 0;
}

.tileDisplaying > div {
    width: 8px;
    height: 8px;
    border: 1px solid #BEC3CA;
    border-radius: 1px;
}

.listDisplaying > div {
    display: block;
    height: 2px;
    background-color: #BEC3CA;
    width: 70%;
    border-radius: 1px;
}

.displayingBoxes {
    display: flex;
    justify-content: flex-end;
}

.displayingBoxesActive {
    border: 1px solid #4D9774;
}

.displayingBoxesActive > div {
    border: 1px solid #4D9774;
}

.displayingBoxesActive > a {
    border: 1px solid #4D9774;
}

.centralImg {
    display: flex;
    justify-content: space-around;
}

.centralImgWrap {
    position: relative;
}

.centralImg img {
    margin: 100px 0 50px;
}

.addPruductsButtonPlus {
    position: absolute;
    background-color: #60B072;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 37px;
    left: 150px;
    top: 250px;
    cursor: pointer;
}

.addPruductsButtonPlus:hover {
    background-color: #0D7A8D;
}

.popupWindow {
    display: none;
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.popupBg {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.popup {
    position: relative;
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 2px 7px rgba(38, 43, 46, 0.08);
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.popup form span {
    font-size: 14px;
    font-family: "SF Compact Text";
}

.popup button {
    padding: 10px;
    cursor: pointer;
}

.popup input, .popup select {
    margin-bottom: 20px;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px !important;
    width: 30px;
    height: 30px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 25px;
    width: 4px;
    background-color: #121F2D;;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.recieved {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 28vw;
    height: 16vw;
    background-image: url(../images/popupBG.png);
    border-radius: 2vw;
}

.productOptions {
    display: flex;
    justify-content: space-between;
}

.productOptions > div {
    width: 140px;
}

.productPrice {
    display: flex;
    align-items: center;
}

input.weight {
    width: 129px;
}

.itemPrice {
    display: flex;
    flex-direction: column;
    position: relative;
}

#itemPrice {
    width: 129px;
    margin-right: 10px;
}

.rubInsideInput {
    position: absolute;
    height: 40px;
    width: 60px;
    border-left: 1px solid #BEC3CA;
    top: 21px;
    right: 0;
    z-index: 2;
    line-height: 40px;
    padding-left: 10px;
}

#middlePrice {
    color: #4D9774;
}

.middlePrice span {
    color: #8F949B;
}

.addMoreProducts {
    color: #4D9774;
    margin-bottom: 20px;
    font-weight: bold;
    width: 200px;
}

.addMoreProducts:hover {
    color: #0D7A8D;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.formButtons button {
    margin-bottom: 0 !important;
}

.formButtons button[type="submit"] {
    /* background-color: #DFE3E9;
    color: #A0A7B2; */
    background-color: #4D9774;
    color: #fff;
}

.formButtons button[type="submit"]:hover {
    background-color: #0D7A8D;
}

.formButtons button[type="reset"] {
    background-color: #fff;
    color: #4F4F4F;
    border: 1px solid #6C7076;
}

.profileSettings {
    max-width: 750px;
    min-width: 50%;
    min-height: 70%;
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    padding: 30px;
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 7px rgba(38, 43, 46, 0.08);
    z-index: 4;
    border-radius: 4px;
}

.profileSettingsMenu {
    width: 30%;
    margin-right: 40px;
}

.profileSettingsMenu h2 {
    margin-bottom: 50px;
}

.profileSettingsMenu nav a {
    display: block;
    padding: 10px;
    color: #292929;
}

.profileSettingsMenu nav a:hover {
    background-color: #F0F5F8;
}

.profileSettingsMenu nav a.profileSettingsMenuActive {
    background-color: #F0F5F8;
}

#otherInformation {
    width: 100%;
    border: 1px solid #BEC3CA;;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 0 10px;
}

#theList {
    display: none;
}

.openCloseMenu {
    width: 60px;
    transition: width .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.openCloseMenu span {
    display: none;
}

.openCloseMenu a.logo {
    text-align: center;
    margin-left: 0;
}

.openCloseMenu a.logo img, .openCloseMenu .sectionsMenu {
    padding: 0;
}

.openCloseMenu nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.openCloseMenu nav a {
    text-align: center;
    padding: 10px 0;
}

.calendar {
    margin: 0 20px 10px 10px;
}

.calendar:hover i {
    color: #0D7A8D;
}

.fa-calendar-alt {
    color: #4D9774;
}

table {
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(38, 43, 46, 0.08);
    border-radius: 4px 4px 0px 0px;
}

table tr td {
    vertical-align: middle !important;
}

.print {
    background-color: #4D9774;;
    color: #fff;
}

.print .fa-print {
    color: #fff;
    font-size: 14px;
}

.print:hover {
    background-color: #0D7A8D;
}

button img {
    margin-right: 10px;
}


.mainContent p.totalSum {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}


.mainWrap {
    position: relative;
}

.mainWrapOpacity {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #222;
    opacity: .7;
    z-index: 3;
}

.has-search {
    margin-bottom: 0 !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .form-control {
    padding-left: 2.375rem;
}


.number {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.number span {
    cursor: pointer;
    line-height: 23px;
}

.minus, .plus {
    width: 20px;
    height: 26px;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
}

.minus:hover, .plus:hover {
    background-color: #4D9774;
    color: #fff;
    border: none;
}

.number input {
    height: 26px;
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}


.stars {
    display: flex;
    align-items: center;
}

.stars > div {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
}

.goldStar {
    background-image: url(../img/star_filled.png);
}

.grayStar {
    background-image: url(../img/star_empty.png);
}


.popup form span.totalOrderPrice {
    font-size: 26px;
    font-weight: bold;
    margin: 0 5px 10px 20px;
}

.icalendar {
    display: none;
    position: fixed;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
}


.adressSettings {
    display: none;
}

.contactData {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 4;
    border-radius: 4px;
    box-shadow: 0px 2px 7px rgba(38, 43, 46, 0.08);
}

.jform-wide {
    overflow-y: auto;
    height: 350px;
}

.jform-wide > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contactData h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.obligatoryField {
    color: red;
}

.adressList {
    margin-top: 20px;
}

.adressList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adressList li span {
    margin-right: 30px;
}

.addressOptions {
    display: flex;
    align-items: center;
}

.addressOptions i:hover {
    color: red;
}

.addressOptions > * {
    margin-left: 10px;
    cursor: pointer;
}

.profileSettingsForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 240px;
}

.lableInput {
    display: flex;
    flex-direction: column;
}

.addAdress {
    background-color: #4D9774;
    color: #fff;
}

.addAdress:hover {
    background-color: #0D7A8D;
}

#balanceCount {
    font-size: 26px;
    font-weight: bold;
}

.table th {
    white-space: nowrap;
}

/* .table td:last-child, .table th:last-child{
    text-align: right;
} */

.farmersTable tr {
    cursor: pointer;
}

.vegFrameOptions .jbtn button {
    width:30px;
    height:30px;
    border-radius:50%!important;
}