.ordersHeader span{
    font-size: 14px;
}

table td img{
    width: 80px;
}
table th img{
    margin-left: 25px;
}
table.table select{
    background-color: #F0F0E2;
    border: none;
    height: 34px;
}
.ordersHeaderButtons button:first-child{ 
    margin-right: 10px;
}

.selfSend{
    background-color: #fff;
    color: #949CA8;
    border: #BEC3CA 1px solid;
    
}
.selfSend:hover{
    color:#4D9774;
    border:#4D9774 solid 1px;
}
.selfSend:hover i{
    color:#4D9774;
}
.selfSend i{
    color: #949CA8;;
}
.deliveryDate{
    display: flex;
}
.tableOrders .selectWrapper select{
    padding-left: 10px;
}
.tableOrders .selectWrapper{
    width: 150px;

}
.tableOrders .selectWrapper::before{
    top: 12px;
}
.tableOrders .fa-pagelines{
    margin-left: 26px;
    font-size: 24px;
}
.popupMessengers{
    display: none;
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 3px;
    box-shadow: 0px 2px 7px rgba(38, 43, 46, 0.08);
}
.popupMessengers a{
    display: inline-block;
    margin: 10px 10px;
}
.popupMessengers i{
    font-size: 40px;
    color: #949CA8;
}
.popupMessengers i:hover{
    color: #121F2D;
}
.ordersMoreActions{
    cursor: pointer;
}
.ordersMoreActions:hover > div{
    background-color: #6C7076;;
}
.ordersMoreActions > div{
    width: 3px;
    height: 3px;
    background-color: #BEC3CA;
    margin: 3px;
    border-radius: 50%;
}
.ordersHeaderButtons{
    display: flex;
    flex-wrap: wrap;
}
.calendarWrap i.fa-calendar-alt{
    font-size: 40px;
}
.calendarWrap{
    text-align: center;
}
.orderSuccess{
    background-color: #fff;
    display: none;
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 7px rgba(38, 43, 46, 0.08);
}
.orderSuccess p{
    margin: 10px;
}

.farmer{
    display: flex;
    align-items: center;
}
.farmer img{
    width: 30px;
}
.farmer span{
    font-size: 12px;
    margin-left: 10px;
    color: #4D9774;
}
.farmer:hover span{
    font-weight: bold;
}
.farmer .farmerHovered{
    display: none;
}
.farmer:hover .farmerUnhovered{
    display: none;
}
.farmer:hover .farmerHovered {
    display: block;
}