<div class="profileSettings">
    <span class="close close1"></span>
    <div class="profileSettingsMenu">
        <h2>Настройки профиля</h2>
        <nav>
            <a href="#" class="profileSettingsMenuActive">Личная информация</a>
            <a href="#">Конфиденциальность и безопасность</a>
            <a href="#">Уведомления</a>
        </nav>
    </div>
    <form action="">
        <div class="profilePhotoForm">
            <img src="images/farmer2.png" alt="profilePhoto">
            <i class="fas fa-pencil-alt changePhoto"></i>
        </div>
        <label for="profileName">Имя</label>
        <input type="text" id="profileName">
        <label for="profilePhone">Телефон</label>
        <input type="tel" id="profilePhone">
        <label for="location">Населенный пункт</label>
        <div class="selectWrapper">
            <select name="" id="location">
                <option value="location">Логойск, Минская обл.</option>
                <option value="location">Минск, Минская обл.</option>
                <option value="location">Новый двор, Минская обл.</option>
            </select>
        </div>
        <label for="serviceZone">Зона обслуживания</label>
        <div class="selectWrapper">
            <select name="" id="serviceZone">
                <option value="location">Минск, Беларусь</option>
                <option value="location">Минск, Беларусь</option>
                <option value="location">Минск, Беларусь</option>
            </select>
        </div>
        <label for="farmName">Название компании / фермерского хозяйства</label>
        <input type="text" id="farmName">
        <div class="formButtons">
            <button type="reset">Отменить</button>
            <button type="submit">Сохранить</button>
        </div>
    </form>
</div>