{% load static %}

<div class="profileSettings">

    {% include 'core/blocks/spinner.html' %}

    <span class="close close1"></span>

    <div class="profileSettingsMenu">
        <h2>Настройки профиля</h2>
        <nav>
            <a href="#" class="profileSettingsMenuActive">Личная информация</a>
            <a href="#">Конфиденциальность и безопасность</a>
            <a href="#">Уведомления</a>
        </nav>
    </div>

    <form id="jfarmer-profile-form" data-api-url="{{ farmer_profile_api_url }}">

        {% include 'core/toasts/profile-updated.html' %}
        {% include 'core/toasts/profile-error.html' %}

        {% csrf_token %}

        {% for field in farmer_profile_form %}
            {% if field.field.widget.input_type == 'file' %}
                <div class="profilePhotoForm">
                    <label for="{{ field.id_for_label }}">
                        <span class="addPhoto">
                            {% if field.value and field.value.url %}
                                <img class="jimg-updated-on-upload-new-js" src="{{ field.value.url }}"
                                     alt="You own photo" width="150" height="150">
                            {% else %}
                                <img class="jimg-updated-on-upload-new-js"
                                     src="{% static "farmer/img/farmer2.png" %}" alt="Farmer profile photo">
                            {% endif %}
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                                   style="display:none" accept="image/*" id="{{ field.id_for_label }}">
                            <i class="fas fa-pencil-alt changePhoto"></i>
                        </span>
                    </label>
                </div>
            {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% endif %}
        {% endfor %}

        <div class="formButtons">
            <button class="close1" type="reset">Отменить</button>
            <button id="jsubmit-js" class="jsubmit">
                <span id="jsubmit-spinner" class="spinner-border spinner-border-sm text-light d-none" role="status"
                      aria-hidden="true"></span>
                <span>Сохранить</span>
            </button>
        </div>

    </form>

</div>