{# For http://egreen.pythonanyware.com/ #}
{#<meta name="yandex-verification" content="a5c5e94c3f7bc266"/>#}
{#<meta name="google-site-verification" content="wFqSduXZj9nrOZ64k1sg1IG37qpfnp10jcb5kwaz0ak"/>#}

{# For https://organicfood.by #}
{#<meta name="yandex-verification" content="1555f201baf963c8" />#}
{#<meta name="google-site-verification" content="3nAHfZZrZZ7ea6tDWjeoQQ4b-rxLINNEbCqDesUqwhE" />#}

<!-- Global site tag (gtag.js) - Google Analytics -->
{#<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161422093-1"></script>#}
{#<script>#}
{#    window.dataLayer = window.dataLayer || [];#}
{##}
{#    function gtag() {#}
{#        dataLayer.push(arguments);#}
{#    }#}
{##}
{#    gtag('js', new Date());#}
{##}
{#    gtag('config', 'UA-161422093-1');#}
{#</script>#}

<!-- Yandex.Metrika counter -->
{#<script type="text/javascript" >#}
{#   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};#}
{#   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})#}
{#   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");#}
{##}
{#   ym(61176688, "init", {#}
{#        clickmap:true,#}
{#        trackLinks:true,#}
{#        accurateTrackBounce:true,#}
{#        webvisor:true#}
{#   });#}
{#</script>#}
{#<noscript><div><img src="https://mc.yandex.ru/watch/61176688" style="position:absolute; left:-9999px;" alt="" /></div></noscript>#}
<!-- /Yandex.Metrika counter -->


{# ------------For www.vegpool.me------------- #}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q6C2B12SVM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q6C2B12SVM');
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   var z = null;m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");

   ym(90209170, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"green_food_layer"
   });
</script>

<meta name="yandex-verification" content="3edb37b271da3709" />
<noscript><div><img src="https://mc.yandex.ru/watch/90209170" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

{# ------------End of www.vegpool.me section------------- #}