{% extends 'core/base-with-sidebar.html' %}
{% load static %}
{% load menu %}

{% block left_sidebar_menu_items %}
    {% generate_menu %}
    {% with menu_items=menus.farmer_left_sidebar %}{% include "core/blocks/left-sidebar-menu.html" %}{% endwith %}
{% endblock %}

{% block profile_image %}
    {% if user.profile.photo %}
        {{ user.profile.photo.url }}
    {% else %}
        {% static 'farmer/img/farmer.png' %}
    {% endif %}
{% endblock %}

{% block page_footer_scripts %}
    <script src="{% static 'farmer/js/farmer-profile.js'  %}"></script>
{% endblock %}
