{% load static %}
<div class="table-responsive">
    <table class="table table-hover">

        {% if page.object_list %}
            <thead>
                <tr>
                    <th>Наиминование</th>
                    <th>Собрано</th>
                    <th>Заказано</th>
                    <th>Единица</th>
                    <th>Цена, руб</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}

        {% for pr in page.object_list %}
            <tr>
                <td>
					{% if pr.product.image %}
						<img src="{{ pr.product.image.url }}" alt="Изображение продукта">{{ pr.product.name }}
					{% else %}
						<img src="{% static 'core/img/no_img.png' %}" alt="Изображение продукта">{{ pr.product.name }}
					{% endif %}
				</td>
                <td>{{ pr.value }}</td>
                <td>вывести кол-во из заказов</td>
                <td>{{ pr.get_unit_display }}</td>
                <td>{{ pr.price }}</td>
                <td class="actionsTd">
                    <div class="vegFrameMenu">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="vegFrameDropMenu">
                        <ul>
                            <li class="edit"><i class="fas fa-pencil-alt"></i>&nbspРедактировать</li>
                            <li class="delete"><i class="far fa-trash-alt"></i>&nbspУдалить</li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% empty %}

            <div class="centralImg">
                <div class="centralImgWrap">
                    <img src="{% static 'core/img/Rectangle.svg' %}" alt="cenralImg" class="tomatoCarrot">
                    <div class="addPruductsButtonPlus">+</div>
                </div>
            </div>

            <h2>Давайте добавим ваши продукты</h2>
            <p>Начните продавать уже сегодня</p>

        {% endfor %}
        </tbody>
    </table>
</div>