{% extends 'buyer/app-base.html' %}

{% load static %}

{% block title %}Моя корзина{% endblock %}

{% block page_content %}
    <div class="myProducts">
        <h1>Моя корзина</h1>
        <a href="{% url "buyer:storefront" %}" class="addProduct"><span>+</span> Добавить продукт</a>
    </div>

    <div class="centralImg">
        <div class="centralImgWrap">
            <img src="{% static 'core/img/Rectangle.svg' %}" alt="cenralImg" class="tomatoCarrot">
            <div class="addPruductsButtonPlus">+</div>
        </div>
    </div>

    <h2>В Вашей корзине пока пусто</h2>
    <p>Давайте это исправим)</p>

{% endblock %}