{% extends 'buyer/app-base.html' %}

{% load static %}

{% block title %}Витрина{% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{% static 'buyer/css/myProducts.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/pagination.css' %}">
    <link rel="stylesheet"
          href="{% static 'core/vendors/jquery/plugins/localizable-calendar/javascript-calendar.css' %}">
{% endblock %}

{% block page_content %}
    <div class="myProducts">
        <div class="showcase">
            <h1>Витрина</h1>
        </div>
        <a href="{% url 'buyer:cart' %}" class="addProductInBasket">
            <button>Оформить заказ</button>
        </a>
    </div>

    {% if farmer_product_categories %}
        <div class="displayingItems">
            <div class="sort">
                <label for="sort">Выбрать категорию: </label>
                <div class="selectWrapper sortSelectWrapper">
                    <select name="sort" id="jproductcategory-filter-js" class="jproductcategory-filter">
                        {% block storefront_category_select %}{% endblock %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="jbasket-container-js" class="productContainer" data-csrf="{{ csrf_token }}">

        {% for fp in farmer_products %}

            {% include 'buyer/blocks/product-item-grid.html' %}

        {% endfor %}
    </div>

    {% include 'core/blocks/pagination.html' %}

{% endblock %}

{% block page_footer_scripts %}
    <script src="{% static 'buyer/js/myProducts.js' %}"></script>
{% endblock %}