{% extends 'buyer/app-base.html' %}

{% load static %}

{% block title %}Моя корзина{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'buyer/css/orders.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/pagination.css' %}">
{% endblock %}

{% block page_content %}

    {% if order.is_order_sent_by_user %}
        {% include 'buyer/blocks/order-was-sent.html' %}
    {% else %}
        {% if order_items %}
            {% include 'buyer/blocks/order-with-cart-items.html' %}
        {% else %}
            {% include 'buyer/blocks/order-with-empty-cart.html' %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block page_modals %}

    <div id="jorder-js">
        {% include 'buyer/popups/send-order-form.html' %}
    </div>

    {% include 'buyer/toasts/order-item-update.html' %}
    {% include 'buyer/toasts/order-page.html' %}

{% endblock %}

{% block page_footer_scripts %}
    <script src="{% static 'buyer/js/order.js' %}"></script>
{% endblock %}