{% extends 'buyer/app-base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Витрина{% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{% static 'buyer/css/myProducts.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/pagination.css' %}">
    <link rel="stylesheet"
          href="{% static 'core/vendors/jquery/plugins/localizable-calendar/javascript-calendar.css' %}">
{% endblock %}

{% block page_content %}
    <div class="myProducts">
        <div class="showcase">
            <h1>Витрина</h1>
        </div>
        <a href="{% url 'buyer:cart' %}" class="addProductInBasket">
            <button>Оформить заказ</button>
        </a>
    </div>

    {% if farmer_product_categories %}
        <div class="displayingItems">
            <div class="sort">
                <label for="sort">Выбрать категорию: </label>
                <div class="selectWrapper sortSelectWrapper">
                    <select name="sort" id="jproductcategory-filter-js" class="jproductcategory-filter">
                        {% block storefront_category_select %}{% endblock %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="productContainer">

        {% for fp in farmer_products %}

            <div class="vegFrame">
                <div class="vegFrameHeader">
                    <div class="farmer">
                        <img class="farmerUnhovered" src="{% static 'buyer/img/farmer3_edited.jpg' %}" alt="Farmer">
                        <img class="farmerHovered" src="{% static 'buyer/img/farmer3.png' %}" alt="Farmer">
                        <span>{{ fp.farmer.name }}</span>
                    </div>
                </div>

                {% if fp.product.image %}
                    <img class="img-fluid" width="175" src="{{ fp.product.image.url }}" alt="Product image">
                {% endif %}

                <h3>{{ fp.product.name }}</h3>
                <div class="starsAndPriceWrap">

                    <div class="stars">
                        <span id="myAppraisal">{{ fp.rating }}</span>
                        {% for i in max_rating|times %}
                            {% if forloop.counter <= fp.rating %}
                                <div class="goldStar"></div>
                            {% else %}
                                <div class="grayStar"></div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="price">
                        <div>{{ fp.price }} руб/{{ fp.value }}{{ fp.unit }}</div>
                    </div>
                </div>
                <div class="vegFrameOptions">
                    <div class="inBasket">
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                    <div class="basketMessage">
                        <i class="fas fa-check"></i>
                        <span>Товар добавлен в корзину</span>
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                    <div class="basketMessage2">
                        <i class="fas fa-check"></i>
                        <span>Товар удален из корзины</span>
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                    <div class="ordered">
                        <div class="number">
                            <span class="minus">-</span>
                            <input type="text" value="1" placeholder="кг"/>
                            <span class="plus">+</span>
                        </div>
                    </div>
                    <div class="unit">({{ fp.value }}{{ fp.unit }})</div>
                </div>

            </div>

        {% endfor %}
    </div>

    {% include 'core/blocks/pagination.html' %}

{% endblock %}

{% block page_footer_scripts %}
    <script src="{% static 'buyer/js/myProducts.js' %}"></script>
{% endblock %}