{% extends 'buyer/app-base.html' %}

{% load static %}

{% block title %}Рейтинг фермеров{% endblock %}

{% block page_content %}
    <div class="d-flex justify-content-between">
        <h1>Рейтинг фермеров</h1>
        <button class="print"><i class="fas fa-print"></i>&nbsp;&nbsp;Печать</button>
    </div>
    <div class="table-responsive">
        <table class="table table-hover farmersTable">
            <thead>
                <th>&#8470;</th>
                <th>Фермер</th>
                <th>Популярные продукты</th>
                <th>Населенный пункт</th>
                <th>Рейтинг</th>
                <th>Отзывы</th>
            </thead>
            <tbody>
                {% for rating in ratings %}
                    <tr>
                        <td>{{ rating.farmer }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}