{% extends 'buyer/app-base.html' %}

{% load static %}

{% block title %}Рейтинг фермеров{% endblock %}

{% block page_content %}
    <div class="table-responsive">
        <table class="table table-hover farmersTable">
            <thead>
            <tr>
                <th>&#8470;</th>
                <th>Фермер</th>
                <th>Популярные продукты</th>
                <th>Населенный пункт</th>
                <th>Рейтинг</th>
                <th>Отзывы</th>
            </tr>
            </thead>
            <tbody>
            {% for rating in ratings %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}