{% extends 'buyer/app-base.html' %}

{% block title %}Настройки профиля{% endblock %}
{% block h1 %}Настройки профиля{% endblock %}
{% block page_content %}
    <hr>
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-4 mb-4">
            <h2>Оповещения</h2>


            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Почта
                    </h6>
                </div>
                <div class="card-body">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                        <label class="custom-control-label" for="customSwitch1">Включить все оповещения</label>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Telegram
                    </h6>
                </div>
                <div class="card-body">

                </div>
            </div>

        </div>
    </div>


{% endblock %}
