{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "core/blocks/analytics.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="shortcut icon" href="{% static 'core/img/logo_grey.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'core/vendors/fontawesome/css/all.css' %}">
    <title>VegPool - {% block title %}{% endblock %}</title>
    {% block core_styles %}{% endblock %} {#  Styles that used for a several Apps. #}
    {% block app_styles %}{% endblock %} {#  Styles for the App. #}
    {% block page_styles %}{% endblock %} {#  Styles that used a page in the App. #}
</head>

<body>

{% block content %}{% endblock %}

{% block core_modals %}{% endblock %}

{% block page_modals %}{% endblock %}

{% block core_footer_scripts %}{% endblock %} {#  Scripts that used for a several Apps. #}

{% block app_footer_scripts %}{% endblock %}

{% block page_footer_scripts %}{% endblock %}

</body>
</html>