{% extends 'core/base.html' %}

{% load static %}

{% block core_styles %}
    <link rel="stylesheet" href="{% static 'core/css/vegPoolMedia.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <div class="generalWrap">
        <div class="mainWrapOpacity"></div>
        <div class="mainWrap">
            <aside class="mainMenu">
                <a href="{{ app_home_url }}" class="logo">
                    <img src="{% static "core/img/logo.png" %}" alt="VepPool logo"><span>VegPool</span>
                </a>
                <div class="sectionsMenu">
                    <span>РАЗДЕЛЫ</span>
                    <a class="hideMenu"><i class="fas fa-chevron-left"></i></a>
                    <a class="showMenu"><i class="fas fa-chevron-right"></i></a>
                </div>
                <nav>

                    {% block left_sidebar_menu_items %}
                        {% for item in left_sidebar_menu_items %}
                            {% include 'core/blocks/left-menu-item.html' with item=item selected=selected_left_menu_item %}
                        {% endfor %}
                    {% endblock %}

                    <a href="{% url 'logout' %}" id="exit">
                        <i class="fas fa-sign-out-alt"></i><span>Выход</span>
                    </a>
                </nav>
            </aside>
            <div class="mainContentWrap">
                <div class="headerWrap">
                    <div class="header">
                        <div class="burger">
                            <span></span>
                        </div>
                        {% block top_menu %}{% endblock %}
                        <div class="headerOptions">

                            <div class="nav-item ml-auto">
                                <a class="nav-link ml-auto" href="https://t.me/joinchat/Bc_KkxNGDtfbQsgzp891gA"
                                   target="_blank"
                                   rel="noopener noreferrer" title="Перейти в наш Telegram канал">
                                    <i class="fab fa-telegram fa-2x text-success"></i>
                                </a>
                            </div>

                            {#                            <div class="selectWrapper selectWrapperLang">#}
                            {#                                <select name="lang" id="langSwitch">#}
                            {#                                    <option value="RUS">РУС</option>#}
                            {#                                    <option value="ENG">ENG</option>#}
                            {#                                </select>#}
                            {#                            </div>#}
                            <div id="jprofileHeader" class="profileHeader">
                                <span class="name">{{ user.email }}</span>
                                <a class="profilePhoto">
                                    <img class="jimg-updated-on-upload-new-js" height="38" width="38"
                                         src="{% block profile_image %}{% endblock %}" alt="profile photo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mainContent">
                    {% block page_content %}{% endblock %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block core_footer_scripts %}
    <script src="{% static 'core/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendors/inputmask/dist/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
{% endblock %}