.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.vegFrame{
    margin: 10px;
    width: 250px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    box-shadow: 0px 2px 7px rgba(38, 43, 46, 0.08);
}
.vegFrame img{
    display: block;
    margin: 0 auto;
}
.vegFrameHeader, .vegFrameOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vegFrameHeader input[type="checkbox"]{
    width: 17px;
    height: 17px;
}
.vegFrame h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.vegFrameMenu{
    cursor: pointer;
}
.vegFrameMenu:hover >div{
    background-color: #6C7076;;
}
.vegFrameMenu > div{
    width: 3px;
    height: 3px;
    background-color: #BEC3CA;
    margin: 3px;
    border-radius: 50%;
}
.vegFrameOptions p{
    font-size: 12px;
    color: #676D76;
    font-family: "SF Compact Text";
    font-weight: 400;
    margin-bottom: 0;
}
.vegFrameOptions > div{
    font-size: 16px;
    font-weight: bold;
}

.vegFrameDropMenu{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    left: 70px;
    top: 35px;
    box-shadow: 0px 2px 12px rgba(38, 43, 46, 0.16);
}

.editForm{
    display: none;
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fff;
}
.actionsTd{
    position: relative;
}
.actionsTd .vegFrameDropMenu{
    left: -5vw;
    top: 10px;
}
.vegFrameDropMenu ul{
    margin-bottom: 0;
}
.vegFrameDropMenu li{
    cursor: pointer;
    margin: 10px;
    display: flex;
}
.vegFrameDropMenu li:hover{
    color: red;
}
.vegFrameDropMenu li:hover i {
    color: red;
}
.vegFrameMenuActive{
    position: relative;
}

.table img{
    width: 96px;
}
.table input[type="checkbox"]{
    width: 17px;
    height: 17px;
}
.editForm{
    padding: 40px 30px 20px 30px;
    width: 370px;
}
.editForm h2{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.editItems{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.editItems input{
    width: 56px;
}
.editItems > div{
    display: flex;
    flex-direction: column;
    
}
.editItems > div p{
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
}
.editForm button[type="submit"]{
    background-color: #60B072;
    color: #fff;
}
.editForm button[type="submit"]:hover{
    background-color: #0D7A8D;
}

.jproduct-value input{
    max-width: 125px;
}