<div class="popupWindow">
    <div class="popup">
        <span class="close close1"></span>
        <h2>Добавление продукта</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.product.label_tag }}
            <div class="selectWrapper">
                {{ form.product }}
            </div>
            <div class="productOptions">
                <div class="jproduct-value">
                    {{ form.value.label_tag }}
                    {{ form.value }}
                </div>
               	<div class="productMeasurement">
                   	{{ form.unit.label_tag }}
                   	<div class="selectWrapper productOptionsSelectWrapper">
                       	{{ form.unit }}
                   	</div>
             	</div>
                <div class="productSize">
                    {{ form.size.label_tag }}
                    <div class="selectWrapper productOptionsSelectWrapper">
                       {{ form.size }}
                    </div>
                </div>
            </div>
            <div class="productPrice">
                <div class="itemPrice">
                    {{ form.price.label_tag }}
                    {{ form.price }}
                    <div class="rubInsideInput"> руб</div>
                </div>
{#                <div class="middlePrice">#}
{#                    <span id="middlePrice">4.8 руб/кг</span>#}
{#                    <span>Средняя цена у других фермеров</span>#}
{#                </div>#}
            </div>
{#            <a href="" class="addMoreProducts">+ Добавить ещё продукт</a>#}
            <div class="formButtons">
                <button type="reset">Отменить</button>
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>