<div id="jpopup-send-order-js" class="popupWindow jinitiator-of-add-location-js jpopup-cl-send-order-js">

    {% include 'core/blocks/spinner.html' %}
    {% include 'buyer/toasts/order-creation-error.html' %}

    <div class="popup">
        <div class="popupBg"></div>
        <span class="close close1"></span>

        <h2>Оформление заказа</h2>
        <form id="jform-send-order-js" action="" data-api-locations-list-url="{% url "store_api:location" %}"
              data-api-order-update-url="{% url "store_api:order" %}" data-csrf="{{ csrf_token }}">

            {{ order_form.location.label_tag }}
            <div style="cursor: pointer;" class="jshow-add-location-js">
                <i class="fas fa-plus text-success"></i>Добавить
            </div>
            <div class="selectWrapper">
                {{ order_form.location }}
            </div>
            <div class="productOptions">
                <div class="productMeasurement">
                    {{ order_form.payment_type.label_tag }}
                    <div class="selectWrapper productOptionsSelectWrapper">
                        {{ order_form.payment_type }}
                    </div>
                </div>

                <div class="calendarWrap w-auto">
                    <label for="calendar">Дата доставки</label>
                    <div class="calendar">
                        <i class="far fa-calendar-alt"></i>
                        <span class="pl-1">{{ delivery.date }}</span>
                    </div>
                </div>

            </div>
            <div class="productPrice">Стоимость заказа
                <span class="totalOrderPrice">{{ order_total }}</span>
                <span>руб.</span>
            </div>
            <div class="formButtons">
                <button type="reset">Отменить</button>
                <button id="jorder-form-submit-js" class="" type="submit">Подтвердить заказ</button>
            </div>
        </form>
    </div>

</div>