{% load static %}

<div class="centralImg">
    <div class="centralImgWrap">
        <i class="text-success fas fa-seedling fa-w-16 fa-7x"></i>
    </div>
</div>

<h2>Спасибо. Ваш заказ был успешно сформирован.</h2>

<div class="d-flex justify-content-center">
    <ul>
        <li>Доставка: {{ delivery.date }}</li>
        <li>Текущий статус: {{ order.get_state_display }}</li>
        <li>Способ оплаты: {{ order.get_payment_type_display }}</li>
        <li>Сумма заказа: {{ order_total }} руб.</li>
        <li>
            Итоговая сумма с учетом доставки:
            <strong class="text-success text-black"> {{ order.total_cost }} руб.</strong>
        </li>
    </ul>
</div>

