{% load static %}
{% load custom_filters %}

<div class="vegFrame">
    <div class="vegFrameHeader">
        <div class="farmer">
            <img class="farmerUnhovered" src="{% static 'buyer/img/farmer3_edited.jpg' %}" alt="Farmer">
            <img class="farmerHovered" src="{% static 'buyer/img/farmer3.png' %}" alt="Farmer">
            <span>{{ fp.farmer.name }}</span>
        </div>
    </div>

    {% if fp.product.image %}
        <img data-bs-target="#jpopup-product-description-{{ fp.id }}-js" type="button" data-bs-toggle="modal"
             class="img-fluid" width="175" src="{{ fp.product.image.url }}" alt="{{ fp.product.name }}">
    {% endif %}

    <h3>{{ fp.product.name }}</h3>
    <div class="starsAndPriceWrap">

        {% if fp.rating %}
            <div class="stars">
                <span id="myAppraisal">{{ fp.rating }}</span>
                {% for i in max_rating|times %}
                    {% if forloop.counter <= fp.rating %}
                        <div class="goldStar"></div>
                    {% else %}
                        <div class="grayStar"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="stars">
                <span id="myAppraisal" class="text-black-50 fw-lighter fs-6">Нет оценок</span>
            </div>
        {% endif %}

        <div class="price">
            <div>{{ fp.trade_price }} {{ CURRENT_CURRENCY }}/{{ fp.value }}{{ fp.get_unit_display }}</div>
        </div>
    </div>
    <div class="jorder-item-container-js vegFrameOptions">
        <div class="inBasket{% if fp.order_item_value %} active{% endif %}">
            <i class="jorder-item-in-backet-js fas fa-shopping-basket"
               data-product-api="{% url "store-api:order-item" farmer_product_pk=fp.pk %}">
            </i>
        </div>
        <div class="jmessage-added-js basketMessage">
            <i class="fas fa-check"></i>
            <span>Товар добавлен в корзину</span>
            <i class="fas fa-shopping-basket"></i>
        </div>
        <div class="jmessage-update-js basketMessage">
            <i class="fas fa-check"></i>
            <span>Товар изменен корзине</span>
            <i class="fas fa-shopping-basket"></i>
        </div>
        <div class="jmessage-removed-js basketMessage2">
            <i class="fas fa-check"></i>
            <span>Товар удален из корзины</span>
            <i class="fas fa-shopping-basket"></i>
        </div>
        <div class="ordered">
            <div class="number">
                <span class="minus">-</span>
                <input data-product-api="{% url "store-api:order-item" farmer_product_pk=fp.pk %}"
                       class="jproduct-value-input-js" type="text"
                       value="{% if fp.order_item_value %}{{ fp.order_item_value }}{% else %}1{% endif %}"/>
                <span class="plus">+</span>
            </div>
        </div>
        <div class="unit">{{ fp.get_unit_display }}</div>
        <div class="jbtn">
            <button data-bs-target="#jpopup-product-description-{{ fp.id }}-js" type="button" data-bs-toggle="modal"
                    class="jproduct-description fw-normal ms-2 fs-6 mb-0 p-1">
                Подробнее
            </button>
        </div>

    </div>

</div>