{% load static %}

<div class="table-responsive" id="jorder-item-table-js" data-api-order-url="{% url "store-api:order" %}"
     data-csrf="{{ csrf_token }}">
    <table class="table table-hover tableOrders">
        <thead>
        <tr>
            <th></th>
            <th>Наиминование</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for item in order_items %}
            <tr>

                <td>
                    {% if item.product.product.image %}
                        <img height="50" src="{{ item.product.product.image.url }}"
                             alt="{{ item.product.product.name }}">
                    {% else %}
                        <img height="50" src="{% static 'core/img/Rectangle.svg' %}" alt="default image">
                    {% endif %}
                </td>

                <td>{{ item.product.product.name }}<br>
                    <div class="farmer">
                        <img class="farmerUnhovered" src="{% static 'buyer/img/farmer3_edited.jpg' %}" alt="Farmer">
                        <img class="farmerHovered" src="{% static 'buyer/img/farmer3.png' %}" alt="Farmer">
                        <span>{{ item.product.farmer.name }}</span>
                    </div>
                </td>

                <td>{{ item.product.trade_price }} за {{ item.product.value }}{{ item.product.get_unit_display }}</td>

                <td>
                    <div class="number">
                        <span class="minus">-</span>
                        <input class="jorder-item-js" type="text" value="{{ item.value }}"
                               data-order-item-api-url="{% url "store-api:order-item" farmer_product_pk=item.product.pk %}"/>
                        <span class="plus">+</span>
                        <span>&nbsp;{{ item.product.get_unit_display }} </span>
                    </div>
                </td>

                <td>
                    <span class="jorder-item-total-js">{{ item.item_total_from_buyer }}</span> {{ CURRENT_CURRENCY }}
                    {% include 'buyer/blocks/order-spinner.html' %}
                </td>

                <td>
                    <div class="jorder-item-del-js" title="Удалить товарную позицию" style="">
                        <i class="fa fa-2x fa-times text-danger" aria-hidden="true"></i>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>