{% load static %}

<div class="mainWrapOpacity"></div>
<div class="profileSettings">
    <span class="close close1"></span>
    <div class="profileSettingsMenu">
        <h2>Мой профиль</h2>
        <div class="burger2">
            <span></span>
        </div>
        <nav class="popupMenu">
            <a id="profileInfoSet" class="profileSettingsMenuActive">Информация</a>
            <!-- <a href="#">Конфиденциальность и безопасность</a> -->
            <a>Уведомления</a>
            <a id="adressSet">Мои адреса</a>
            <!-- <a href="#">Мой баланс</a> -->
        </nav>
        <hr>
        <div class="balance">
            <span>Ваш баланс: </span><br>
            <span id="balanceCount">{{ buyer_balance }}</span><span> {{ CURRENT_CURRENCY }}</span>
            {% if buyer_balance %}
                <p>
                    <small class="lh-sm text-black-50">
                        {{ BUYER_BALANCE_VALUE_HINT1 }}<br>{{ BUYER_BALANCE_VALUE_HINT2 }}
                    </small>
                </p>
            {% endif %}
        </div>

    </div>
    <div class="profileSettingsForm">
        <div class="jprofile-tab-content-js profileInfo">

            <form id="jbuyer-profile-form"  data-api-url="{{ buyer_profile_api_url }}" class="profilePhotoForm">

                {% include 'core/toasts/profile-updated.html' %}
                {% include 'core/toasts/profile-error.html' %}

                {% csrf_token %}

                {% for field in buyer_profile_form %}

                    {% if field.field.widget.input_type == 'file' %}
                        <div class="profilePhotoForm">
                            <label for="{{ field.id_for_label }}">
                            <span class="photoWrap">
                                {% if field.value and field.value.url %}
                                    <img src="{{ field.value.url }}" alt="You own photo" width="150" height="150">
                                {% else %}
                                    <img src="{% static "buyer/img/buyer.png" %}" alt="Buyer profile photo">
                                {% endif %}
                                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                                       style="display:none" accept="image/*" id="{{ field.id_for_label }}">
                                <i class="fas fa-pencil-alt changePhoto"></i>
                            </span>
                            </label>
                        </div>
                    {% else %}
                        <div class="lableInput">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>

                    {% endif %}
                {% endfor %}
            </form>

            <div class="formButtons">
                <button class="close1" type="reset">Отменить</button>
                <button id="jsubmit-js" class="jsubmit">
                <span id="jsubmit-spinner" class="spinner-border spinner-border-sm text-light d-none" role="status"
                      aria-hidden="true"></span>
                    <span>Сохранить</span>
                </button>
            </div>


        </div>

        <form class="jprofile-tab-content-js adressSettings">
            <ul class="adressList">
                <li>
                    <span>Минск, Зеленолугская 18</span>
                    <div class="addressOptions">
                        <input type="radio" name="defaultAdress" id="defaultAdress">
                        <i class="fas fa-pencil-alt"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </li>
                <li>
                    <span>Минск, Богдановича 66-75</span>
                    <div class="addressOptions">
                        <input type="radio" name="defaultAdress" id="defaultAdress">
                        <i class="fas fa-pencil-alt"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </li>
                <li>
                    <span>Минск, Богдановича 66-75</span>
                    <div class="addressOptions">
                        <input type="radio" name="defaultAdress" id="defaultAdress">
                        <i class="fas fa-pencil-alt"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </li>
                <li>
                    <span>Минск, Богдановича 66-75</span>
                    <div class="addressOptions">
                        <input type="radio" name="defaultAdress" id="defaultAdress">
                        <i class="fas fa-pencil-alt"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </li>

            </ul>
            <button type="button" class="addAdress">Добавить адрес</button>
            <!-- <label for="serviceZone">Мои адреса</label>
            <div class="selectWrapper">
                <select name="serviceZone" id="serviceZone">
                    <option value="">Адрес 1</option>
                    <option value="">Адрес 2</option>
                </select>
            </div>
            <label for="addZone">Добавить адрес</label>
            <input id="addZone" type="text" placeholder="Введите адрес">
            <label for="otherInformation">Дополнительная информация (напишите, если у вас есть шлагбаум или другую информацию для курьера)</label>
            <textarea name="otherInformation" id="otherInformation"></textarea> -->

            <div class="formButtons">
                <button type="reset">Отменить</button>
                <button type="submit">Сохранить</button>
            </div>

        </form>

    </div>

</div>