{% extends 'core/base-with-sidebar.html' %}
{% load static %}

{% block app_styles %}
    <link rel="stylesheet" href="{% static 'core/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'buyer/css/buyer-style.css' %}">
{% endblock %}

{% block top_menu %}
    <a href="{% url 'buyer:cart' %}" class="basket">
        <i class="fas fa-shopping-basket"></i>
        <p id="totalSumm">{{ cart_total }} руб.</p>
    </a>
{% endblock %}

{% block profile_image %}
    {% if user.profile.photo %}
        {{ user.profile.photo.url }}
    {% else %}
        {% static 'buyer/img/buyer.png' %}
    {% endif %}
{% endblock %}

{% block app_modals %}
    {% include "buyer/blocks/profile-detailed.html" %}
{% endblock %}

{% block app_footer_scripts %}
    <script src="{% static 'core/js/profile-base.js' %}"></script>
    <script src="{% static 'buyer/js/buyer-profile.js' %}"></script>
{% endblock %}