<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="jestimate-feedback-success-js" class="toast hide bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Отзыв на продукт</strong>
            <small>только что</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Ваш отзыв успешно отправлен. Спасибо!
        </div>
    </div>
</div>