<div aria-live="polite" aria-atomic="true" class="bg-dark position-relative" style="z-index: 2">
    <div class="toast-container position-absolute p-3">
        <div id="jlocation-creation-toast-error-js" class="toast bg-danger">
            <div class="toast-header">
                <strong class="me-auto">Ошибка</strong>
                <small>только что</small>
            </div>
            <div id="jlocation-creation-toast-error-body-js" class="toast-body text-light"></div>
        </div>
    </div>
</div>