<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

    <div id="jorder-page-toast-error-js" class="toast hide bg-danger">
        <div class="toast-header">
            <strong class="me-auto">Ошибка</strong>
            <small>только что</small>
        </div>
        <div id="jorder-page-toast-error-body-js" class="toast-body text-light"></div>
    </div>

    <div id="jorder-page-toast-successfully-js" class="toast hide bg-success">
        <div class="toast-header">
            <strong class="me-auto">Успех</strong>
            <small>только что</small>
        </div>
        <div id="jorder-page-toast-body-successfully-js" class="toast-body text-light"></div>
    </div>

</div>